body{
    font-family: 'Lato', sans-serif;
    background-color: black;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
}


.title{
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    font-family: 'Nosifer', cursive;
    color: goldenrod;
}

.info{
    text-align: center;
    font-size: medium;
    font-style: oblique;
}
.description{
    text-align: center;
    font-size: medium;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.description h3{
    color: red;
}

h3.description{
    display: block;
}

.smthing{
    text-align: center;
    font-style: italic;
    font-family: 'Rammetto One', cursive;
    font-size: x-large;
}

.smthing h1{
    font-family: 'Eater', cursive;
    color: red;
}

.pupkin-details{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.red{
    color: red;
    background-color: white;
    font-family: 'Eater', cursive;
    border: 2px solid red;
    font-size: larger;
}


.pupkins-hammer{
   text-align: center;
    
}

.break{
    color: white;
    font-family: 'Nosifer', cursive;
    font-style: italic;
    font-size: xx-large;
    text-align: center;
}

.book-info a{
    color: goldenrod;
    font-size: x-large;
    font-family: 'Rammetto One', cursive;
}

.book-info h3{
    font-style: italic;
    font-family: 'Rammetto One', cursive;
    font-size: xx-large;
    color: wheat;
}